<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/data.css">
</head>
<body>
    <div class="container">
        <div id="Form">
            
            <form action="/" method="post" class="internalMaterial">
                <h2 style="font-family: 'title';">Enter Your Ideas</h2>
                <input type="text" placeholder="TITLE" maxlength="15" name="getTitle">
                
                <textarea name="getText" id="textarea" cols="50" rows="10" placeholder="ENTER TEXT HERE"></textarea>
                <button type="submit" class="myButton">ADD ME</button>
            </form>
        </div>
    </div>
</body>
</html>