<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG POST</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="navbar"> 
        <ul class="navbar_items">
            <li><h1 style="margin: 0;" id="brandName">BLOG-POST</h1></li>
            <li><a href="add_me">Click here to add</a></li>
        </ul>
    </div> 

    <div class="container">
        <div class="material">

            <h2>BLOG-1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis autem corporis iure reprehenderit repudiandae ratione sapiente facere architecto beatae sed, natus, corrupti ab eius dolore! Obcaecati dolorum in dolores saepe.
            Quis tempora recusandae repellendus ducimus eos incidunt excepturi temporibus, architecto odit odio consequuntur praesentium at blanditiis sunt minima, qui autem natus magnam? Quos adipisci officia quibusdam repellat ea praesentium earum!
            Tempore laudantium totam nisi nam natus dignissimos doloremque consequatur possimus repellendus mollitia, temporibus, minus fugit dolore debitis in! Facilis, cupiditate perferendis? Dolorum eveniet illum voluptates aliquam, ab animi ipsa temporibus!0</p>
            
            <% for(let i = 0;i < len;i++){%>
                <h2><%=heading[i]%></h2>
                <p><%=textji[i]%></p>
            <% } %>
        </div>
    </div>

</body>
</html>